# *** General format notes
# - Each line is a file name or pattern followed by one or more owners who will be auto assigned for review.
# -- Example: <file name or pattern> @<owning group name>
# - The repo is also configured to require approval from the auto assigned group before something can be merged.
# - Order is important; the last matching pattern takes the mostprecedence. This means that you should put broad things first.

# *** Groups that are available include:
# - @bloom-works/handbook-admins : Administrators of the Handbook
# - @bloom-works/handbook-finances : Folks that control the budget and accounting
# - @bloom-works/handbook-misc-changes : Things that don't fall into the other groups
# - @bloom-works/handbook-people-process-and-rituals : People that focus on company culture and HR-y things
# - @bloom-works/handbook-policies-and-conduct : Those that control company processes and code of conduct topics

# *** Rules
# If no other review/approval rule catches, it'll go to admins
# Most things that don't get caught by other rules are probably more technical
# Change this if that doesn't wind up being the case after some use
*		@bloom-works/handbook-admins

# These are the controls are specific pages of content
sections/*		@bloom-works/handbook-misc-changes
sections/code-of-conduct.md		@bloom-works/handbook-policies-and-conduct
sections/employment-terms-policies.md	@bloom-works/handbook-people-process-and-rituals
sections/expenses-and-reimbursement.md		@bloom-works/handbook-finances
sections/leaving-bloom.md		@bloom-works/handbook-people-process-and-rituals
sections/outside-activities-conflicts-of-interest.md		@bloom-works/handbook-people-process-and-rituals
sections/pay-and-benefits.md		@bloom-works/handbook-finances
sections/time-tracking.md 	@bloom-works/handbook-finances @bloom-works/handbook-people-process-and-rituals
sections/travel-and-relocation.md 	@bloom-works/handbook-finances @bloom-works/handbook-people-process-and-rituals
sections/working-hours		@bloom-works/handbook-people-process-and-rituals
index.md	@bloom-works/handbook-people-process-and-rituals
