---
layout: layouts/base
title: Home
---

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3 <a href="#">This is a link</a></h3>
<h4>Heading 4 <a href="#">This is a link</a></h4>
<h5>Heading 5 <a href="#">This is a link</a></h5>
<h6>Heading 6 <a href="#">This is a link</a></h6>
<p>Paragraph content <a href="#">This is a link</a></p>
<p class="subhead">Secondary caption text <a href="#">This is a link</a></p>
<ul>
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ul>
  <ol>
    <li>Item One
      <ol>
        <li>Nested list</li>
        <li>Nested list
          <ol>
            <li>Nested two levels</li>
            <li>Nested two levels</li>
            <li>Nested two levels</li>
          </ol>
        </li>
        <li>Nested list</li>
      </ol>
    </li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ol>


<h1>collections</h1>
<ol>
  {% for section in collections.sections %}
    <li>
      Page: {{ section.page | dump }} <br/> 
      Title: {{section.data.title}} <br/> 
      URL: {{section.page.url}}
    </li>
  {% endfor %}
</ol>


<h1>TOC</h1>
{{ table_of_contents | dump }}

<h1>Combined Data</h1>
<ol>
  {% for section in collections.combinedCollection %}
    <li>
      {{ section.page.fileSlug }} -- {{section.page.url}} -- {{ section.page.data.title }}
    </li>
  {% endfor %}
</ol>